In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 딕셔너리에서 DataFrame 생성

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "홍길동",
            "김싸피",
            "고길동",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
print(df)
print(df.index)
print(df.columns)

  Name  Age     Sex
0  홍길동   22    male
1  김싸피   35    male
2  고길동   58  female
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'Sex'], dtype='object')

- 기본 통계 자료

In [3]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

- 기본 정보 출력

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

- Number인 열 선택

In [9]:
print(df.select_dtypes('number'))
print(type(df.select_dtypes('number')))

   Age
0   22
1   35
2   58
<class 'pandas.core.frame.DataFrame'>

- 객체 자료형 선택

In [8]:
print(df.select_dtypes('object'))
print(type(df.select_dtypes('object')))

  Name     Sex
0  홍길동    male
1  김싸피    male
2  고길동  female
<class 'pandas.core.frame.DataFrame'>